body {
    padding: 100px;
    background-color: burlywood;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.wrap {
    background-color: white;
    padding: 25px;
}
.wcard {
    display: flex;
    justify-content: center;
}
.wcard div {
    width: 30%;
    padding: 50px 0;
    margin: 10px;
    background-color: gray;
    margin-left: 10px;
    font-size: 20px;
}
.ok {
    font-size: 30px;
}


